* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80)
}

    h1 {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        color: white;
    }

p {
    color: white;
    text-align: center;
}

.artistas {
    padding-top: 20px;
    font-size: 25px;
}

.grande {
    padding-top: 60px;
    font-size: 50px;
}
.vidconf{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.contenedor_padre {
    display: grid;
    grid-template-rows: 15vh 40vh 40vh 50vh;
    grid-template-columns: 15vw 64vw 19,5vw;
    
    grid-template-areas:    "header header header"
                            "main    main    main"
                            "publicidad publicidad publicidad"
                            "footer footer footer"

}

.border {
border: 1px solid black;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;

}
header {
grid-area: header;
}

footer {
    font-size: 10px;
    grid-area: footer;
    display: flex;
    align-items: end;
    justify-content: center;
}

nav {
    grid-area: nav;
}